@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";
.hero-container {
  color: $ebony;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;

  // SOCIALS - TOP PARENT CONTAINER WITH POSITION ABSOLUTE
  &__socials {
    width: 100%;
    position: absolute;
    bottom: 16px;
    display: flex;
    justify-content: center;
    transition: 2s;
    visibility: visible;
    @include tablet {
      bottom: 36px;
    }
  }

  // SOCIAL CONTENT - SECOND PAREENT CONTAINER WITH MAX-WIDTH 1280PX
  &__social-content {
    display: flex;
    justify-content: center;
    max-width: 400px;
    padding: 0px 16px;
    margin: auto;
    @include tablet {
      padding: 0px $tablet-margin;
    }
    @include tablet2 {
      max-width: 1280px;
      margin: auto;
    }
    @include horizontalViewHeight {
      justify-content: flex-start;
    }
  }
  .social-container {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include horizontalViewHeight {
      max-width: 470px;
    }
    &__link {
      display: block;
      width: fit-content;
      font-size: 18px;
      @include tablet {
        font-size: 20px;
      }
      @include desktop {
        font-size: 30px;
      }
    }
    &__link:hover {
      scale: 2.5;
    }
    .linkedIn {
      color: $linkedIn;
    }
    .github {
      color: $gitHub;
    }
    .xTwitter {
      color: $xTwitter;
    }
    .facebook {
      color: $faceBook;
    }
    .instagram {
      color: $instagram;
    }
  }
  // DYNAMIC JS CLASS
  .js-hidden {
    opacity: 0;
  }
  .js-visible {
    opacity: 1;
  }
}

.hero-content {
  height: 100dvh;
  padding: 0px $mobile-margin;
  padding-top: calc((100vh - 50px) / 3);
  text-align: center;
  @include hero-min-heigt {
    height: 400px;
  }
  @include tablet2 {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $tablet-gutter;
    padding: 0px $tablet-margin;
    padding-top: unset;
    max-width: 1280px;
  }

  // Name
  &__name {
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    font-weight: normal;
    &--first {
      display: block;
      font-size: 25px;
      @include tablet {
        font-size: 30px;
      }
      @include desktop {
        font-weight: 200;
        font-size: 36px;
      }
    }
    &--first-b {
      padding-right: 0.2em;
    }

    &--last {
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 27px;
      @include tablet {
        font-size: 40px;
      }
    }
  }
  // Title
  &__title {
    font-size: 14px;
    font-weight: 200;
    width: 100%;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 40px;
    @include tablet {
      font-size: 18px;
      margin-bottom: 50px;
    }
    @include desktop {
      font-size: 24px;
    }
    &--city {
      display: block;
    }
  }
  // CONTACTS
  &__contacts {
    // ONE LINK ELEMENT SUCH AS EMAIL/PHONE
    &--link {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $pewter;
      padding: 16px 0px;
      max-width: 250px;
      margin: auto;
      @include tablet {
        max-width: 300px;
      }
      @include tablet2 {
        max-width: 500px;
        margin: unset;
      }
    }
    // TEXT
    &--link-text {
      color: $ebony;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: fit-content;
      @include tablet2 {
        font-size: 14px;
      }
    }
    &--link-text:hover {
      color: $black;
      scale: 1.2;
    }

    // INDIVIDUAL LINK NAMES
    .email {
      color: #f0db4f;
      font-size: 25px;
      @include tablet {
        font-size: 28px;
      }
      @include desktop {
        font-size: 30px;
      }
    }
    .phone {
      color: #262626;
      font-size: 18px;
      @include tablet {
        font-size: 20px;
      }
      @include desktop {
        font-size: 30px;
      }
    }
    .email:hover,
    .phone:hover {
      scale: 1.5;
    }

    // ICONS
    &--link-icon-container {
      text-decoration: none;
      display: flex;
      justify-content: flex-end;
      width: fit-content;
    }
    &--link-icon {
      display: block;
      width: fit-content;
    }
  }
}

// Image Container
.image-container {
  display: none;
  position: relative;
  width: auto;
  height: auto;
  transition: 0.5s; /* Smooth transition */
  @include tablet2 {
    display: block;
    text-align: right;
  }
  &__image {
    height: auto;
    width: 320px;
    object-fit: contain;
    transition: 0.5;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    @include tablet2 {
      width: 330px;
    }
    @include desktop2 {
      width: 500px;
    }
    border-radius: 5px;
  }

  &__shadow-element {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
  }
}
.image-container:hover {
  scale: 1.1;
}
