@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";
.hero-container {
  color: $ebony;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  // z-index: 15;
}

.hero-content {
  height: 100vh;
  padding: 0px $mobile-margin;
  padding-top: calc((100vh - 50px) / 3);
  text-align: center;
  @include hero-min-heigt {
    height: 400px;
  }
  @include tablet2 {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px $tablet-margin;
    padding-top: unset;
    max-width: 1280px;
  }

  // Name
  &__name {
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    font-weight: normal;
    &--first {
      display: block;
      font-size: 30px;
      @include desktop {
        font-weight: 200;
        font-size: 36px;
      }
    }
    &--first-b {
      padding-right: 0.2em;
    }

    &--last {
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 36px;
      @include tablet {
        font-size: 60px;
      }
    }
  }
  // Title
  &__title {
    font-size: 16px;
    font-weight: 200;
    width: 100%;
    margin: 0;
    margin-top: 16px;
    @include tablet {
      font-size: 20px;
    }
    @include desktop {
      font-size: 30px;
    }
    &--city {
      display: block;
    }
  }
}

// Image Container
.image-container {
  display: none;
  position: relative;
  width: auto;
  height: auto;
  transition: 0.5s; /* Smooth transition */
  @include tablet2 {
    display: block;
    text-align: right;
  }
  &__image {
    height: auto;
    width: 320px;
    object-fit: contain;
    transition: 0.5;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    @include tablet2 {
      width: 400px;
    }
    @include desktop2 {
      width: 500px;
    }
    border-radius: 5px;
  }

  &__shadow-element {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
  }
}
.image-container:hover {
  scale: 1.1;
}
