@import "../../styles/partials/_variables";

.hero-container {
  // height: calc(100vh - 50px);
  background-color: $black;
  color: $pewter;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/image/hero-back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  height: calc(100vh - 50px);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px $mobile-margin;
  padding-top: calc((100vh - 50px) / 3);
  text-align: center;
  // Name
  &__name {
    margin: 0;
    margin-bottom: 32px;
    width: 100%;
    font-size: 36px;
    &--first {
      display: block;
      font-weight: 200;
    }
    &--last {
      display: block;
      // font-weight: normal;
      text-transform: uppercase;
    }
  }
  // Title
  &__title {
    margin: 0;
    margin-top: 16px;
    width: 100%;
    font-weight: 200;
    &--city {
      display: block;
    }
  }
}
