// @use "./fonts" as *;

// Colors
$black: #0b0909;
$ebony: #44444c;
$gray: #8c8c8c;
$pewter: #d6d6d6;
// breakpoints and margins
$mobile-margin: 16px;

$mobile-width: 320px;

$tablet-width: 767px;
$tablet-margin: 32px;
$tablet-gutter: 24px;

$desktop-width: 1280px;
$desktop-gutter: 24px;

// fonts
// $font-regular: "TitilliumWeb";
// $font-regular-italics: "TitilliumWeb";

// $font-bold: "TitilliumWeb-SemiBold";
// $font-bold-italics: "TitilliumWeb-SemiBoldItalics";
