// @use "./fonts" as *;

// Colors
$black: #0b0909;
$ebony: #44444c;
$gray: #8c8c8c;
$pewter: #d6d6d6;
$linkedIn: #0077b5;
$gitHub: #171515;
$xTwitter: #000000;
$faceBook: #1877f2;
$instagram: #c13584;
$html: #f06529;
$css: #264de4;
$sass: #cc6699;
$js: #f0db4f;
$react: #00d8ff;
$node: #3c873a;
$express: #000000;
$mysql: #00758f;
$knex: #ff6c33;
$dna: #ff0000;
$leaf: #008000;
$vial: #b0b8ba;
$laptop: #c0c0c0;
$code: #2879e3;
$coffee: #6f4e37;
$book: #990000;
$headSet: #262626;
$checkSquare: #13eb13;
$pointRight: #e7a5a5;
$house: #531d1d;
$globe: #2b5dab;
// breakpoints and margins
$mobile-margin: 16px;

$mobile-width: 320px;
$mobile-width2: 390px;

$tablet-width: 767px;
$tablet-width2: 950px;
$tablet-margin: 32px;
$tablet-gutter: 24px;

$desktop-width: 1280px;
$desktop-width2: 1500px;
$desktop-gutter: 24px;

$hero-min-height: 400px;
$viewPortMinHeight: 585px;
$viewPortMaxHeight: 1000px;

$mobileDivider: 20px;
$tabletDivider: 50px;
$desktopDivder: 100px;

$heroSocialHeight: 635px;
