@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";

.tech-stacks {
  padding: 0px $mobile-margin;
  margin-top: $mobile-margin;

  @include tablet {
    width: 100%;
    margin: auto;
    padding: 0px $tablet-margin;
    margin-top: 64px;
  }
  @include desktop {
    max-width: 1000px;
    padding: 0px $tablet-margin;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__header {
    padding-top: $mobile-margin;
    margin-bottom: $tablet-margin;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    @include tablet {
      margin-bottom: $tablet-margin;
    }
    @include desktop {
      font-size: 30px;
      text-align: left;
    }
  }
  &__tools {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);

    &--tech {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--icon {
      display: block;
      width: 40px;
      height: 40px;

      @include tablet {
        width: 55px;
        height: 55px;
      }
    }
    &--img {
      object-fit: contain;
      width: 40px;
      margin: auto;

      @include tablet {
        width: 55px;
        display: block;
      }
    }
    &--html {
      // filter: drop-shadow(2px 2px 15px $html);
      color: $html;
    }
    &--css {
      // filter: drop-shadow(2px 2px 15px $css);
      color: $css;
    }
    &--sass {
      // filter: drop-shadow(2px 2px 10px $sass);
      color: $sass;
    }
    &--js {
      // filter: drop-shadow(2px 2px 15px $js);
      color: $js;
    }
    &--react {
      // filter: drop-shadow(2px 2px 15px $react);
      color: $react;
    }
    &--node {
      // filter: drop-shadow(2px 2px 15px $node);
      color: $node;
    }
    &--express {
      // filter: drop-shadow(2px 2px 10px $express);
      color: $express;
    }
    &--mysql {
      // filter: drop-shadow(2px 2px 10px $mysql);
      color: $mysql;
    }
    &--knex {
      // filter: drop-shadow(2px 2px 15px $knex);
      color: $knex;
    }
  }
}
