@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";

.tools {
  padding: 0px $mobile-margin;
  margin-bottom: $mobileDivider;
  @include tablet {
    max-width: 800px;
    padding: 0px $tablet-margin;
    margin: auto;
    margin-bottom: $tabletDivider;
  }
  @include desktop {
    max-width: 1280px;
    padding: 0px $tablet-margin;
    margin-bottom: $desktopDivder;
  }
  &__header {
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: $black;
    margin-bottom: $mobile-margin;
    @include tablet {
      font-size: 20px;
      text-align: left;
      margin-bottom: $tablet-margin;
    }
    @include desktop {
      font-size: 24px;
    }
  }

  &__tools-content {
    border-top: 1px solid $pewter;
    border-bottom: 1px solid $pewter;
    max-width: 100%;
    padding: 16px 0px;
    margin: auto;
    @include tablet {
      padding: 36px 0px;
    }
    @include tablet {
      padding: 40px 0px;
    }
  }

  .icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 24px;
    border-radius: 5px;
    @include tablet {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 36px;
    }
    @include tablet {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 40px;
      width: 650px;
      margin: auto;
    }
    &__image {
      display: block;
      object-fit: contain;
      width: 32px;
      height: 32px;
      margin: auto;
      transition: 0.5s;

      @include tablet {
        width: 40px;
        height: 40px;
        display: block;
      }
    }
  }
}
