@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";
.about-first {
  padding-top: 50px;
  background-color: $black;
  box-sizing: border-box;
  // Header One
  &__mobile-header-1 {
    color: $pewter;
    text-align: center;
    padding-top: 16px;
  }
  @include mobile2 {
    &__mobile-header-1 {
      display: none;
    }
  }
  &__image-container {
    position: relative;

    &--img {
      object-fit: contain;
      display: block;
      height: 300px;
    }
    @include mobile2 {
      &--img {
        width: 300px;
        height: auto;
      }
    }

    // Header Two
    &--mobile-header-2 {
      display: none;
    }
    @include mobile2 {
      &--mobile-header-2 {
        display: block;
        width: auto;
        font-size: 24px;
        color: $pewter;
        text-align: left;
        text-transform: capitalize;
        position: absolute;
        left: 10%;
        top: 50%;
      }
    }
  }
  @include mobile2 {
    &__image-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.about-text-container {
  background-color: #ffffff;
  padding: 0px $mobile-margin;
  padding-top: 16px;
}
.about-text {
  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: $mobile-margin 0px;

    &--text {
      font-weight: normal;
      width: auto;
      padding-right: 5px;
      color: $ebony;
      color: $ebony;
    }
    &--icon {
      width: auto;
      color: $ebony;
      color: $ebony;
    }
  }
  &__para {
    color: $ebony;
    font-size: 15px;
    font-weight: 200;
    text-align: justify;
  }
}
