@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";

.navigation {
  height: 50px;
  // Brand Name
  // Buttons
}
// Pages
.navigation-pages {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: $gray;
  position: absolute;
  left: -100%;
}
