@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";

.header {
  padding: 0px $mobile-margin;
  background-color: $black;
}
.navigation {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // Brand Name
  &__brand-name {
    color: $pewter;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 20px;
  }
}
// Pages
.navigation-pages {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: $gray;
  position: absolute;
  top: -100%;
  left: -100%;
  transition: 0.3s;
}
// Dynamic class
.navigation-pages-show {
  top: 0%;
  left: 0%;
}
// Navigation buttons
.nav-button-container {
  text-align: right;
  &__open {
    padding: 0;
    color: $pewter;
    width: auto;
  }
}
