@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";
.footer {
  min-height: 250px;
  padding: $mobile-margin;
  position: relative;

  @include tablet {
    padding: $tablet-margin;
  }
  @include desktop {
    max-width: 1280px;
    margin: auto;
  }
}
.socials {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: $mobile-margin 0px;
  transition: 2s;
  @include tablet {
    bottom: $tablet-margin;
    position: absolute;
    bottom: 18px;
    left: 0;
    z-index: 20;
  }
  &__container {
    display: block;
    width: auto;
  }
  &__container:hover {
    scale: 2.5;
  }

  &__container:nth-child(1) {
    color: $linkedIn;
  }
  &__container:nth-child(2) {
    color: $gitHub;
  }
  &__container:nth-child(3) {
    color: $xTwitter;
  }
  &__container:nth-child(4) {
    color: $faceBook;
  }
  &__container:nth-child(5) {
    color: $instagram;
  }
}

.author {
  padding: $mobile-margin;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  @include tablet {
    position: relative;
    z-index: 10;
  }

  &__statement {
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid $pewter;
    padding-bottom: $mobile-margin;
    &--word {
      padding-right: 4px;
    }
    @include tablet {
      font-size: 15px;
    }
    @include desktop {
      font-size: 16px;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: $mobile-margin;
    @include tablet {
      font-size: 15px;
    }
    @include desktop {
      font-size: 18px;
    }
  }
}

.location-copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  @include tablet {
    position: relative;
    z-index: 10;
  }
  &__copyright {
    font-weight: normal;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 13px;
    @include tablet {
      font-size: 15px;
      width: 69.55px;
    }
    &--icon-copy {
      display: inline;
      color: $code;
      padding-right: 2px;
      width: auto;
    }
    &--icon-globe {
      display: inline;
      color: $caColor;
      padding-left: 2px;
      width: auto;
    }
  }
  &__location {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 13px;
    width: auto;
    &--name {
      padding-right: 3px;
    }
    @include tablet {
      font-size: 15px;
    }
  }
}
