@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";

.project-container {
  padding-top: $mobile-margin;
  padding-left: $mobile-margin;
  padding-right: $mobile-margin;
  &__title {
    padding-bottom: $mobile-margin;
    text-align: center;
    text-transform: uppercase;
  }
}
.projects {
  border-bottom: 1px solid $gray;
  margin-bottom: $mobile-margin;
  &__icons {
    text-align: center;
    
  }
  &__header {
    padding-top: $mobile-margin;
    font-weight: normal;
    text-align: center;
  }
  &__description {
    padding-top: $mobile-margin;
    padding-bottom: $mobile-margin;
    text-align: center;
    font-size: 15px;
  }
}
