@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";

.project-container {
  margin-top: 32px;
  padding-left: $mobile-margin;
  padding-right: $mobile-margin;
  padding-bottom: 100px;
  @include tablet {
    padding-top: $tablet-margin;
    padding-left: $tablet-margin;
    padding-right: $tablet-margin;
    max-width: 800px;
    margin: auto;
  }
  @include desktop {
    max-width: 1000px;
    margin: auto;
  }

  &__title {
    color: $black;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    padding-top: 16px;
    @include tablet {
      text-align: left;
      padding-top: 32px;
      margin-bottom: $tablet-margin;
    }
  }
  &__project-content {
    @include tablet {
      width: 100%;
      margin: $tablet-margin auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $tablet-gutter;
    }
  }
}
// Projects
.projects {
  padding: 16px 0px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: $mobile-margin;
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: $tablet-gutter;
    max-width: 800px;
    margin: auto;
  }

  // Project headers
  &__personal,
  &__collaboration {
    color: $ebony;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: auto;
    margin-bottom: 16px;
    @include tablet {
      text-align: left;
    }
  }
  // Project items
  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 400px;
    margin: auto;
    border: 1px solid $pewter;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);

    // Project images
    &--img {
      display: block;
      margin: auto;
      max-width: 100%;
      height: 300px;
      object-fit: cover;
      filter: grayscale(100%);
      // filter: brightness(50%) contrast(50%);

      // border-top-left-radius: 10px;
      // border-top-right-radius: 10px;
      @include tablet {
        max-width: 500px;
        // height: 500px;
      }
    }

    // Email reader and brainflix image
    // &--email-image,
    // &--brainflix-image {
    //   max-width: 400px;
    //   @include tablet {
    //     max-width: 550px;
    //     height: 400px;
    //   }
    //   @include desktop {
    //     max-width: 650px;
    //     height: 600px;
    //   }
    // }

    // fiserv and weather app image

    &--fiserv-image,
    &--weather-app-image {
      @include tablet {
        max-width: 300px;
        // object-fit: cover;
      }
    }

    // Projects text section
    &--text {
      text-align: left;
      padding: $mobile-margin;
      border-top: 1px solid $pewter;
      padding-bottom: 32px;
    }

    // project name
    &--project-name {
      color: $black;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 16px;
      margin: auto;
      @include tablet {
        // text-align: left;
        margin: unset;
        margin-bottom: 10px;
      }
      @include desktop {
        padding-bottom: 10px;
      }
    }

    // Project description
    &--project-description {
      font-size: 15px;
      color: $ebony;
      @include tablet {
        display: block;
        padding-top: 0px;
      }
    }
  }
  &__content:hover {
    box-shadow: unset;
    border: 1px solid $pewter;
  }
  &__content-brainflix {
    @include tablet {
      grid-column: span 2;
    }
  }
}
