@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";

.project-container {
  padding-top: $mobile-margin;
  padding-left: $mobile-margin;
  padding-right: $mobile-margin;
  &__title {
    padding-bottom: 16px;
    text-align: center;
    text-transform: capitalize;
    font-weight: normal;
  }
}
.projects {
  padding: 16px 0px;
  padding-top: 32px;
  margin: 16px 0px;
  border: 1px solid #a70000;
  border-radius: 5px;

  &__icon {
    text-align: center;
    color: $ebony;
    // color: #a700s00;
  }
  &__header {
    padding-top: 16px;
    font-weight: normal;
    text-align: center;
  }
  &__description {
    padding-top: $mobile-margin;
    padding-bottom: $mobile-margin;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    color: $black;
  }
}
