@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";

.about-second {
  padding: 0 $mobile-margin;
  padding-top: $mobile-margin;
  &__img {
    border: 1px solid $pewter;
    border-bottom-width: 0px;
  }
  &__texts {
    padding-top: $mobile-margin;
    text-align: justify;
    word-spacing: -1.5px;
  }
  &__link {
    padding-left: 8px;
    font-style: italic;
    text-decoration: none;
  }
}
