@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";

.about-second {
  padding: 0 $mobile-margin;
  padding-top: $mobile-margin;
  &__img {
    border: 1px solid #a70000;
    border-bottom-width: 0px;
    object-fit: contain;
    max-width: 360px;
    display: block;
    margin: auto;
  }
  &__star-of-life {
    padding-top: 16px;
    color: $gray;
  }
  &__texts {
    padding-top: $mobile-margin;
    text-align: center;
    padding-bottom: 16px;
    font-size: 15px;
    border-bottom: 1px solid #a70000;
    line-height: 1.5em;
  }
  &__link {
    padding-left: 8px;
    font-style: italic;
    text-decoration: none;
  }
}
