@import "../../styles/partials/mixins";
@import "../../styles/partials/_variables";

.about-second {
  padding: 0 $mobile-margin;
  margin-bottom: $mobileDivider;
  @include tablet {
    max-width: 800px;
    padding: 0 $tablet-margin;
    margin: auto;
    margin-bottom: $tabletDivider;
  }
  @include desktop {
    margin-bottom: $desktopDivder;
  }
}
.about-second-content {
  // Media queries[][]
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $tablet-gutter;
    width: 100%;
    margin: auto;
  }

  @include desktop {
    max-width: 800px;
    margin: auto;
  }
  &__image-container {
    position: relative;
    margin-top: $mobileDivider;
    @include tablet {
      display: flex;
      justify-content: flex-start;
    }
    @include tablet2 {
      display: none;
    }
    &--shadow-element {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      background-image: linear-gradient(to right, #ffffff, #fff, $gray);
      background-image: linear-gradient(
        to top,
        // rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.7),
        rgba(255, 255, 255, 0.2)
      );
      opacity: 0.6;
      border-radius: 5px;
    }
    @keyframes animateFilter {
      0% {
        filter: drop-shadow(0 0 0.75rem $pewter);
      }
      25% {
        filter: drop-shadow(0 0 0.75rem $express);
      }
      50% {
        filter: drop-shadow(0 0 0.75rem $express);
      }
      75% {
        filter: drop-shadow(0 0 0.75rem $express);
      }

      100% {
        filter: drop-shadow(0 0 0.75rem $pewter);
      }
    }
    &--img {
      object-fit: contain;
      display: block;
      max-width: 310px;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
      position: relative;
      z-index: 5;
      margin: auto;
      border-radius: 5px;
      animation: animateFilter 10s linear infinite;

      @include tablet {
        border: unset;
        margin: unset;
      }
    }
  }

  &__texts {
    font-size: 13px;
    line-height: 1.5em;
    text-align: center;
    margin-top: 32px;
    padding-bottom: 16px;
    border: unset;

    @include tablet {
      text-align: left;
      font-size: 16px;
    }
    @include tablet2 {
      font-size: 20px;
      text-align: center;
    }
  }
  @keyframes colorChange {
    0% {
      color: $leaf;
    }
    50% {
      color: $dna;
    }
    100% {
      color: $leaf;
    }
  }
  &__link {
    padding-left: 8px;
    font-style: italic;
    text-decoration: none;
    color: $mysql;
    animation: colorChange 3s linear infinite;
  }
  &__link:hover {
    color: #264de4;
    padding-left: 10px;
  }
}
