@import url("../../styles/partials/_mixins.scss");
@import url("../../styles/partials//_variables.scss");

.contacts {
  background-image: url("../../assets/image/contact_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 5;
  &__translucent-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
}
