@import "../../styles/partials/_mixins.scss";
@import "../../styles/partials/_variables";

.contacts {
  background-image: url("../../assets/image/contact_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 5;
  padding: $mobile-margin;
  min-height: 270px;
  &__translucent-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  &__header {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: normal;
    border: 1px solid $pewter;
    padding: $mobile-margin;
  }
}
.phone-email {
  display: flex;
  justify-content: center;
  padding: $mobile-margin;
  margin: auto;
  margin-top: $mobile-margin;
  &__phone,
  &__email {
    color: $pewter;
  }
}
